*{
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: blueviolet;
  height: 80px;
}
.h{
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  padding: 20px 0;
  font-size: 2em;
}
#who{
  display: block;
  /* border: 1px solid black; */
  font-size: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  padding: 25px 0 10px 0;
}
td {
  border:  2px solid #333;
  height:  100px;
  width:  100px;
  text-align:  center;
  vertical-align:  middle;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  font-size:  70px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  margin-top: 150px;
  top: 50px;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}
.cell:hover {
  background-color: rgb(239, 226, 245);
}
.endgame {
  display: none;
  width:  200px;
  top: 120px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  margin-top: 155px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em; 
}
.selectSym, .selectGame{
  display: none;
  width: 220px;
  top: 110px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -110px;
  margin-top: 125px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: yellow;
  font-size: 2em; 
}
.selectGame{
  padding-bottom: 30px;
}
.selectGame button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:  25px;
  width: 190px;
  height: 60px;
  margin-top: 25px;
}
.selectSym button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:  50px;
  width: 70px;
  margin-top: 25px;
}
.selectSym  button:first-of-type {
  margin-right: 10px;
}
.selectSym  button:last-of-type {
  margin-left: 10px;
}
.new-game{
  padding: 20px 30px;
  text-transform: uppercase;
  width: 150px;
  position: absolute;
  left: 50%;
  top: 550px;
  margin-left: -80px;
  cursor: pointer;
}